/**
 * {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
 */{{#description}}
@ApiModel(description = "{{{description}}}"){{/description}}

@JsonIgnoreProperties(ignoreUnknown = true)
public class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{{#parcelableModel}}implements Parcelable {{#serializableModel}}, Serializable {{/serializableModel}}{{/parcelableModel}}{{^parcelableModel}}{{#serializableModel}}implements Serializable {{/serializableModel}}{{/parcelableModel}}{

  {{#vars}}
  {{^isContainer}}
  public {{{datatypeWithEnum}}} {{name}};
  {{/isContainer}}
  {{#isEnum}}
      {{^isContainer}}
{{>modelInnerEnum}}
      {{/isContainer}}
  {{/isEnum}}
  {{/vars}}
}
