/**
 * {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
 */{{#description}}
@ApiModel(description = "{{{description}}}"){{/description}}

@JsonIgnoreProperties(ignoreUnknown = true)
public class {{classname}} extends DataClass<{{classname}}>{

  {{#vars}}
  {{^isContainer}}
  public {{{datatypeWithEnum}}} {{name}};
  {{/isContainer}}
  {{#isEnum}}
      {{^isContainer}}
{{>modelInnerEnum}}
      {{/isContainer}}
  {{/isEnum}}
  {{/vars}}
}
