<?xml version="1.0" encoding="WINDOWS-1251"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="methods" thread-count="1">
    <test name="Smoke Tests" preserve-order="true">
        <classes>
            <class name="com.epam.jdi.httptests.HttpTestsRunner"/>
        </classes>
    </test>
</suite>